---
layout: default
title: Início
permalink: /
---
<section class="faixa-titulo abertura">
  <div class="container">
    <h1>Portal TrAce</h1>
    <p class="subtitulo-abertura">Tradução, acessibilidade e pesquisa</p>
  </div>
</section>
<div class="container banner-area">
  <div class="secao-topo car-titulo">
    <h2 id="h-novidades">Avisos e novidades</h2>
  </div>
  {% include carrossel.html itens=site.data.carrossel rotulo="Avisos e novidades" %}
</div>
<div class="container apresentacao">
  <p class="lead">Reunimos projetos, pesquisas e produções voltados à ampliação do acesso à informação, à cultura e à leitura em formatos mais inclusivos.</p>
</div>


<div class="miolo">
{%- assign destaques = site.projetos | where: "destaque", true | sort: "ordem" %}
<section class="faixa-secao faixa-secao-1" aria-labelledby="h-destaques">
  <div class="container">
    <div class="secao-topo">
      <h2 id="h-destaques">Projetos em destaque</h2>
      <a class="botao-peq" href="{{ '/projetos/' | relative_url }}">Abrir todos os projetos</a>
    </div>
    <ul class="cartoes">
      {%- for p in destaques %}
      {% include projeto-item.html projeto=p %}
      {%- endfor %}
    </ul>
  </div>
</section>

{%- assign recentes = site.producoes | sort: "ano" | reverse %}
<section class="faixa-secao faixa-secao-2" aria-labelledby="h-recentes">
  <div class="container">
    <div class="secao-topo">
      <h2 id="h-recentes">Produções recentes</h2>
      <a class="botao-peq" href="{{ '/producoes/' | relative_url }}">Ver todas as produções</a>
    </div>
    <ul class="cartoes">
      {%- for r in recentes limit: 3 %}
      {% include producao-item.html producao=r %}
      {%- endfor %}
    </ul>
  </div>
</section>
</div>
