---
layout: default
---
{% include topo.html titulo=page.title %}
<div class="container pagina-corpo">
  {%- if page.imagem %}
  <div class="historia">
    <figure class="historia-img">
      {% include img.html nome=page.imagem alt=page.imagem_alt sizes="(min-width: 56em) 32rem, 100vw" eager=true %}
    </figure>
    <div class="texto historia-texto">
      {{ content }}
    </div>
  </div>
  {%- else %}
  <div class="texto pagina-simples caixa">
    {{ content }}
  </div>
  {%- endif %}
  {%- include redes-botao.html %}
  {%- if page.galeria == 'grupo' %}
  <section class="galeria-sec" aria-labelledby="h-galeria">
    <h2 id="h-galeria">Galeria</h2>
    {% include galeria.html itens=site.data.galeria_grupo rotulo="Galeria de fotos do grupo" %}
  </section>
  {%- endif %}
</div>
